.form {
    display: flex;
    max-width: 829px;
    gap: 12px;
    margin: auto;
}

.ul {
    margin: auto;
    margin-top: 120px;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.li {
    all: unset;
}

.ml {
    margin-left: 50px;
}